@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Cormorant+Upright:wght@300&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,a{
    text-transform: capitalize;
    font-family: 'Amaranth', sans-serif;
}
p,li,span{
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pt-90{
    padding-top: 90px;
}
.pt-100{
    padding-top: 100px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-100{
    padding-bottom: 100px;
}
.mt-10{
    padding-top: 10px;
}
.mt-20{
    padding-top: 20px;
}
.mt-30{
    padding-top: 30px;
}
.mt-40{
    padding-top: 40px;
}
.mt-50{
    padding-top: 50px;
}
.mt-60{
    padding-top: 60px;
}
.mt-70{
    padding-top: 70px;
}
.mt-80{
    padding-top: 80px;
}
.mt-90{
    padding-top: 90px;
}
.mt-100{
    padding-top: 100px;
}
.mb-10{
    padding-bottom: 10px;
}
.mb-20{
    padding-bottom: 20px;
}
.mb-30{
    padding-bottom: 30px;
}
.mb-40{
    padding-bottom: 40px;
}
.mb-50{
    padding-bottom: 50px;
}
.mb-60{
    padding-bottom: 60px;
}
.mb-70{
    padding-bottom: 70px;
}
.mb-80{
    padding-bottom: 80px;
}
.mb-90{
    padding-bottom: 90px;
}
.mb-100{
    padding-bottom: 100px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.button {
	position: relative;
}
.button a:hover {
	background-color: #951133;
	border: 1px solid transparent;
	box-shadow: 3px 2px 1px 0px #000;
    transform: scale(1);
}
.button a {
	display: inline-block;
	padding: 5px 15px;
	color: #fff;
	border: 1px solid #CCCCCC;
	margin-top: 20px;
    font-size: 15px;
    transition: .7s;
}
.button::before {
	content: "";
	background-color: #CCCCCC;
	top: 51%;
	left: -3px;
	width: 1px;
	height: 18px;
	position: absolute;
	transform: rotate(90deg);
}
.button::after {
	content: "";
	background-color: #CCC;
	top: 54%;
	width: 1px;
	height: 15px;
	position: absolute;
	transform: rotate(90deg);
	left: 180px;
}
/* header area start */
.header {
	position: absolute;
	width: 100%;
	z-index: 9;
    position: fixed;
}
.logo {
	padding: 7px 5px;
    background-color: #951133;
}
.social-icon {
	padding: 11px 5px;
	background-color: #191E24;
}
.social-icon i {
	font-size: 14px;
	color: #CCCCCC;
	padding: 4px 8px;
	border: 1px solid #555;
	background-color: #0123;
    cursor: pointer;
}
.logo a {
	font-size: 22px;
	color: #fff;
    font-weight: bold;
}
.pd-0 {
	padding-right: 0;
    padding-left: 0;
}
.header-details {
	padding: 230px 50px;
    color: #fff;
}
.side-menu {
	background-color: #191E24;
	width: 170px;
	position: fixed;
    float: right;
    right: -170px;
    transition: .3s;
}
.side-menu.show{
    right: 0;
}
.side-menu h4 {
	color: #fff;
	text-align: center;
	padding: 8px 0px;
}
.side-menu ul {
	padding-left: 0;
    text-align: left;
}
.side-menu ul li {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 58px;
}
.side-menu ul li a {
	color: #ffff;
	font-size: 18px;
    position: relative;
    transition: .3s;
    font-size: 15px;
}
.side-menu ul li a::after {
	content: "";
	height: 147%;
	width: 3px;
	top: -5px;
	left: -58px;
	position: absolute;
	background-color: #fff;
	display: block;
	opacity: 0;
}
.side-menu ul li a:hover:after{
    opacity: 1;
}
.bar {
	position: absolute;
	left: -64px;
	top: -3px;
	border: 3px solid #fff;
}
.bar.close i::before{
    content: '\f00d';
}
.bar i {
	font-size: 22px;
	cursor: pointer;
	background-color: #951133;
	padding: 8px 21px;
	color: #fff;
}

/* header area end */
/* banner area start */
.banner{
    position: relative;
}
.banner-left {
	padding: 272px 30px;
	background-color: #15505F;
	color: #fff;
}
.banner-left h4{
    font-weight: bold;
    font-size: 27px;
    padding-bottom: 8px;
}
.banner-left p {
	font-size: 17px;
}
.banner-right{
    
}
.single-banner {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover; 
}
/* banner area end */
/* about area start */
.about {
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: -1;
	opacity: 0.6;
	height: 100%;
}
.about-img{
    position: relative;
    column-count: 2;
    padding-top: 35px;
}
.about-img::before {
	content: "";
	position: absolute;
	left: -50px;
	width: 10px;
	height: 239px;
	background-color: #951133;
	top: 25%;
	transition: .7s;
}
.about-img::after {
	content: "";
	position: absolute;
	left: 115px;
	width: 4px;
	height: 328px;
	background-color: #951133;
	top: 69px;
	transform: rotate(90deg);
}
.img1{
    position: relative;
}
.img1::after {
	content: "";
	position: absolute;
	left: -25px;
	width: 4px;
	height: 48px;
	background-color: #951133;
	top: 62px;
	transition: .7s;
	transform: rotate(90deg);
}
.img2{
    position: relative;
}
.img2::after{
	content: "";
	position: absolute;
	left: -25px;
	width: 4px;
	height: 48px;
	background-color: #951133;
	top: 77px;
	transition: .7s;
	transform: rotate(90deg);
}
.about-img img{
    padding-bottom: 43px;
}
.about-details i {
    color: #951133;
    font-size: 22px;
  }
.about-details span {
    color: #951133;
    font-size: 16px;
  }
.about-details h4 {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
  }
.about-details p {
    padding-top: 10px;
    font-size: 16px;
  }
  .accordion-button:not(.collapsed) {
	color: #fff;
	background-color: #951133;
}
.accordion-button {
	background-color: #F0F0F0;
}
.accordion-button:not(.collapsed)::after {
	transform: rotate(-180deg);
	background-color: #fff;
	padding: 10px;
    border-radius: 25%;
}
/* about area end */
/* breadcum area start */
.breadcum{
    background-color: #191E24;
}
.breadcum i,.team-font i,.services i {
    color: #951133;
    font-size: 25px;
}
.breadcum h4,.services h4 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
  }
.breadcum span,.services span {
    color: #fff;
  }
.breadcum-details {
    text-align: center;
  }
.breadcum-details i {
	color: #fff;
	font-size: 35px;
	background-color: #333;
}
.breadcum-details h6 {
    color: #fff;
    font-size: 22px;
    padding-top: 20px;
  }
.breadcum-details p {
    color: #C4BBA7;
    font-size: 15px;
    padding: 8px;
  }
.deatails {
	border: 1px solid #3D3D3D;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0px 0px 3px 0px #ccc;
}
.deatails i {
	display: inline-block;
	padding: 18px 23px;
	border-bottom: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	border-left: 1px dotted #CCC;
}
.deatails:hover{
    background-color: #951133;
    font-size: 20px;
    border: 1px solid transparent;
}
/* breadcum area end */
/* team area start */
  .team{
      position: relative;
  }
  .team-font h4 {
    font-size: 28px;
    font-weight: bold;
}
.team-details {
	padding: 20px;
	position: relative;
	background-color: #ccc;
	transition: .5s;
	border-radius: 0px 90px;
}
.team-details:hover {
	background-color: #15505F;
	color: #fff;
	border-radius: 90px 0px;
	box-shadow: 5px 7px 2px 1px #000;
}
.team-details:hover.team-details img{
	border-radius: 50%;
}
.team-details::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 25px;
	background-color: #858585;
}
.team-details::after {
	content: "";
	position: absolute;
	top: -11px;
	left: 11px;
	width: 3px;
	height: 25px;
	background-color: #858585;
	transform: rotate(90deg);
}
.team-details p{
	position: relative;
	font-size: 16px;
}
.team-details p::before {
	content: "";
	position: absolute;
	bottom: -60px;
	right: -19px;
	width: 3px;
	height: 25px;
	background-color: #858585;
}
.team-details p::after {
	content: "";
	position: absolute;
	bottom: -71px;
	right: -5px;
	width: 3px;
	height: 25px;
	background-color: #858585;
	transform: rotate(90deg);
}
.team-details span {
	font-size: 13px;
}
.team-details i {
	padding: 4px 8px;
	background-color: #141B24;
	color: #CCCCCC;
	transition: .3s;
}
.team-details i:hover{
	transform: translateY(-6px);
}
/* team area end */
/* services area start */
.services {
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.services::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #333;
	width: 100%;
	z-index: -1;
	opacity: 0.9;
	height: 100%;
}
.services-details {
	color: #fff;
  }
.services-details h5 {
	padding: 8px 0px 8px 0px;
	font-weight: bold;
	text-align: center;
	background-color: #15505F;
}
.services-details p {
	padding: 10px 25px;
	text-align: center;
}
.button2 {
	position: relative;
}
.button2 a:hover {
	background-color: #951133;
	border: 1px solid transparent;
	box-shadow: 3px 2px 1px 0px #000;
    transform: scale(1);
}
.button2 a {
	display: inline-block;
	padding: 5px 15px;
	color: #fff;
	border: 1px solid #CCCCCC;
	margin-top: 20px;
	font-size: 15px;
	transition: .7s;
	background-color: #15505F;
}
.button2::before {
	content: "";
	background-color: #CCCCCC;
	top: 52%;
	left: 180px;
	width: 1px;
	height: 18px;
	position: absolute;
	transform: rotate(90deg);
}
.button2::after {
	content: "";
	background-color: #CCC;
	top: 54%;
	width: 1px;
	height: 15px;
	position: absolute;
	transform: rotate(90deg);
	left: 362px;
}
/* services area end */